In [3]:
data = [i**2 for i in range(0,10)]

In [4]:
data[::-1]

[81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

In [8]:
with open("t1.txt") as f:
    data = f.read()

In [11]:
test = data.replace("!","").replace(".","")

In [9]:
data

'Hello World. Hello Again!'

In [21]:
test1 = test.split()

In [22]:
len(test1)

4

In [15]:
from collections import Counter

In [23]:
counts = Counter(test1)

In [28]:
all  = dict()
for key,value in counts.items():
    print(key,value)
    all[key] = value

Hello 2
World 1
Again 1

In [29]:
all

{'Hello': 2, 'World': 1, 'Again': 1}

In [68]:
input_ = [{'title':'Book A','author':'Author X','year':2005},
        {'title':'Book B','author':'Author X','year':2007},
        {'title':'Book A','author':'Author X','year':2008}]

In [78]:
res = sorted(input_,key=lambda x:(x['title'],-x['year']))
res

[{'title': 'Book A', 'author': 'Author X', 'year': 2008},
 {'title': 'Book A', 'author': 'Author X', 'year': 2005},
 {'title': 'Book B', 'author': 'Author X', 'year': 2007}]

In [71]:
res

[{'title': 'Book A', 'author': 'Author X', 'year': 2008},
 {'title': 'Book A', 'author': 'Author X', 'year': 2005},
 {'title': 'Book B', 'author': 'Author X', 'year': 2007}]

In [90]:
fruits = [('apple',5),('banana',3),('apple',2),('orange',5)]

In [102]:
from collections import Counter,defaultdict
totals = Counter()

In [103]:
for key,value in fruits:
    totals[key]+=value

In [104]:
totals

Counter({'apple': 7, 'banana': 3, 'orange': 5})

In [ ]:
# DE: SCD2,CCD2

In [106]:
# SQL:
# EXCLUDE JOIN
# DEPT EMP
# List of empty not meeting the join condition

In [114]:
# For Employees Not in Department (reverse case):
# If you wanted to list employees who do not belong to any department, you can flip the tables:

# Code:
# %sql
"""
SELECT E.*
FROM EMP E
LEFT JOIN DEPT D ON E.dept_id = D.dept_id
WHERE D.dept_id IS NULL;

"""
# This will list employees who do not have a matching department.

# This pattern is sometimes referred to as an "EXCLUDE JOIN" or an "ANTI JOIN" depending on context, though SQL doesn't have an explicit ANTI JOIN keyword.

'\nSELECT E.*\nFROM EMP E\nLEFT JOIN DEPT D ON E.dept_id = D.dept_id\nWHERE D.dept_id IS NULL;\n\n'

In [137]:
#Sort a Tuple Based on Marks, if Marks are same sort by names

In [124]:
students = [('Hari',42),('Ram',40),('Krishna',40)]

In [140]:
sorted(students,key=lambda x:(-x[1],x[0]),reverse=True)

[('Ram', 40), ('Krishna', 40), ('Hari', 42)]

In [1]:
#OOps Encapsulation amd Access Modfiers
#Collections